{% extends "base.html" %}

{% block content %}
<center>
<div id="welcomeCont" class="container center bg-light rounded mt-5 p-5">
    <div id="welcomeBlurb">
        <h1 class="">WELCOME</h1><br>
        
        <h2> "Heartland Alliance"; <br>
        <br>
        Many Chicago-land residents will recognize the name, <br>
        though ask what the organization does, and the response will most likely be vague; <br>
        <br>
        “Some sort of non-profit agency that helps the needy”? <br>
        <br>
        Very few residents will be able to tell you that the largest portion of their funding actually 
        goes toward the operation of child-migrant detention-centers. <br>
        <br>
        Check out the <a href="pie">data....</a></h2>
        <p>Data source: Propublica. 2021. [Nonprofit Explorer]. Retrieved from https://projects.propublica.org/nonprofits/ </p>

</div></center>
   
{% endblock %}