{% extends "base.html" %}

{% block content %}
    <form id="registerForm" action="" method="post" class="bg-white rounded mt-5 p-5">
        <h1 class="text-center">Register</h1>
        {{ form.hidden_tag() }}
        
            {{ form.username.label }}
            {{ form.username(size=32, class='form-control', placeholder='Enter Username') }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        
        
            {{ form.email.label }}
            {{ form.email(size=64, class='form-control', placeholder='Enter Email') }}
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        
        
            {{ form.password.label }}
            {{ form.password(size=32, class='form-control', placeholder='Enter Password') }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        
        
            {{ form.password2.label }}
            {{ form.password2(size=32, class='form-control', placeholder='Enter Password') }}
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        
        {{ form.submit(class='btn btn-primary w-100 mt-3') }}
    </form>
{% endblock %}